<div id="files-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="mx-auto table-scroll col-12">
                        <table  class="table table-striped ">
                            <thead>
                            <tr>
                                <th scope="col">Файл</th>
                                <th scope="col">Размер</th>
                            </tr>
                            </thead>
                            <tbody id="modal_table_body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>