<div id="files-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="mx-auto table-scroll">
                        <table class="table table-striped ">
                            <thead>
                            <tr>
                                <th scope="col">Файл</th>
                                <th scope="col">Размер</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th >testFile_1</th>
                                <td>10.0 Mb</td>
                            </tr>
                            <tr>
                                <th >testFile_2</th>
                                <td>15.0 Mb</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>